
body {
  margin: 0;
  background: #f2f4f8;}

.app {
  max-width: 500px;
  margin: 50px auto;
  background:black;
  padding: 25px;
  font-size: larger;
}

.app h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  width: 500px;
  display: flex;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form button {
 background-color: yellow;
 color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.todo-list {
  padding-left: 20px;
  color:white ;
  
}
.todo-item {
  background: #f9f9f9;
  margin-bottom: 22px;
  background-color: black;
}
.todo-title {
  font-weight: bold;
}

.completed {
  color: gray;
}

.todo-date {
  font-size: 12px;
  color: #777;
  margin: 4px 0;
}

 button {
  margin-right: 8px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
}

.complete-btn {
 background-color: blue;
  color: white;
}

.delete-btn {
  background: red;
  color: white;
}
.com{
  color: green;
  margin-left: 30px;
  font-size: large;
}